@model EcommerceApp.Application.ViewModels.AdminPanel.EmployeeVM
@{
    ViewData["Title"] = "Add Employee";
}
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <div class="card rounded">
            <div class="card-header bg-dark text-white">
                <h1>@ViewData["Title"]</h1>
                <p>Fill in the fields and create a new employee</p>
            </div>
            <div class="card-body bg-light">
                <form asp-action="AddEmployee">
                    <partial name="_EmployeeFormPartial" />
                    <button type="submit" class="btn btn-primary">Add Employee</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}