@model EcommerceApp.Application.ViewModels.CategoryVM
@{
    ViewData["Title"] = "Add Category";
}
<center>
    <h1>@ViewData["Title"]</h1>
    <p>Fill in the fields and create a new category</p>
    <partial name="_CategoryFormPartial" />
</center>