@{
    ViewData["Title"] = "Employee Panel";
}
<center>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <dl class="dl-horizontal">
            <dd><a class="btn btn-primary btn-lg" asp-area="" asp-controller="EmployeePanel" asp-action="Categories">Categories Management</a></dd>
            <dd><a class="btn btn-primary btn-lg" asp-area="" asp-controller="EmployeePanel" asp-action="Products">Products Management</a></dd>
            <dd><a class="btn btn-primary btn-lg" asp-area="" asp-controller="EmployeePanel" asp-action="Orders">Orders Management</a></dd>
        </dl>
    </div>
</center>