@model EcommerceApp.Application.ViewModels.Home.HomeVM
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-md-3">
            <div class="card">
                <h2>@item.Name</h2>
                <dd><img src=@item.ImageToDisplay width="254" height="256" /></dd>
                <p>@item.Description</p>
                <p>@item.UnitPrice</p>
                <a asp-controller="Product" asp-action="Product" asp-route-id="@item.Id" class="stretched-link"></a>
            </div>
        </div>
    }
</div>
