@using Microsoft.AspNetCore.Identity
@using EcommerceApp.Domain.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && User.HasClaim("IsAdmin", "True"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="AdminPanel" asp-action="Index"><i class="fas fa-cogs fa-lg"></i> Admin Panel</a>
        </li>
    }
</ul>