@using Microsoft.AspNetCore.Identity
@using EcommerceApp.Domain.Models
@inject SignInManager<AppUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index"><i class="fas fa-shopping-cart fa-lg"></i></a>
        </li>
    }
</ul>