@using Microsoft.AspNetCore.Identity
@using EcommerceApp.Domain.Models
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<AppUser> SignInManager
@inject IAuthorizationService AuthorizationService

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && !AuthorizationService.AuthorizeAsync(User, "CanAccessEmployeePanel").Result.Succeeded)
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Order" asp-action="CustomerOrders"><i class="far fa-list-alt fa-lg"></i> Orders</a>
        </li>
    }
</ul>